@{
    ViewBag.Title = "Home Page";
}
<main>
    <h1>SPACE ADVENTURE</h1>
    <p class="lead">The Greatest Space Adventure Game Waiting to be Played by You</p>
    <div class="buttons">
        <p><a href="../Home/Play" class="btn btn-primary btn-lg">Start Your Adventure</a></p>
        <p><a href="~/Home/Edit" class="btn btn-primary btn-lg">Edit Your Adventure </a></p>

    </div>
    <div class="linkies">
        @Html.ActionLink("Create A", "../Adventurer/Create")
        @Html.ActionLink("Edit A", "../Adventurer/Edit")
        @Html.ActionLink("Delete A", "../Adventurer/Delete")
        @Html.ActionLink("List A", "../Adventurer/List")
        @Html.ActionLink("Create B", "../BadGuy/Create")
        @Html.ActionLink("Edit B", "../BadGuy/Edit")
        @Html.ActionLink("Delete B", "BadGuy/Delete")
        @Html.ActionLink("List B", "../BadGuy/List")
        @Html.ActionLink("Create P", "../Planet/Create")
        @Html.ActionLink("Edit P", "../Planet/Edit")
        @Html.ActionLink("Delete P", "../Planet/Delete")
        @Html.ActionLink("List P", "../Planet/List")
    </div>

    <div class="row">
    </div>
</main>

<style>
    .linkies {
        height: 500px;
        background-image: url("../Assets/Startup.kra");
        border-style: solid;
    }
    main {
        background-image: url("../Assets/Startup.kra");
    }

    h1 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: white;
    }
    p{
        text-align: center;
    }

    .buttons {
        display: inline-flex;
    }

    html {
        background-image: url("../Assets/Startup.kra");
    }

    .buttons p {
        flex: 50%;
    }
</style>