@model SpaceAdventure.Models.BadGuy.BadGuyDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BadGuyDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadGuyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadGuyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XpDropped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XpDropped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
