@model IEnumerable<SpaceAdventure.Models.BadGuy.BadGuyListItems>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XpDropped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanetId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XpDropped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanetId)
        </td>
        <td>
            @Html.ActionLink("Edit", $"Edit/{item.BadGuyId}", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("View", $"Details/{item.BadGuyId}", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", $"Delete/{item.BadGuyId}", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Settings", "../Home/Settings")
</p>
