@model SpaceAdventure.Models.Planet.PlanetDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanetDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanetaryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetaryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfBadGuys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfBadGuys)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
