@model IEnumerable<SpaceAdventure.Models.Planet.PlanetListItems>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanetaryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfBadGuys)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlanetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanetaryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfBadGuys)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
