@model IEnumerable<SpaceAdventure.Models.Planet.PlanetListItems>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanetaryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfBadGuys)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfBadGuys)
            </td>
            <td>
                @Html.ActionLink("Edit Planet", $"Edit/{item.PlanetId}", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete Planet", $"Delete/{item.PlanetId}", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Settings", "../Home/Settings")
